@model dynamic
@{
    ViewData["Title"] = Model.JobApplication.Job;
}
<link rel="stylesheet" href="~/css/customstyle.css">
<link rel="stylesheet" href="~/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/video.css">
<link rel="stylesheet" href="~/css/animatedCheck.css">
<link rel="stylesheet" href="~/css/timer.css">

<div class="bradcam_area slider_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Job Description</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="number" hidden id="JobID" value="@Model.JobApplication.Job_Application_ID" />
<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">

                            <img class="thumb" src="/UserUpload/Photo/@Model.JobApplication.Icon" alt="">
                     
                            <div class="jobs_conetent">
                                <a href="#">
                                    <h4>@Model.JobApplication.Job</h4>
                                </a>
                                
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i>@Model.JobApplication.City, @Model.JobApplication.Province</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i>@Model.JobApplication.Job_Nature</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobs_right">
                        </div>
                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        <h4>Job description</h4>
                        <p>
                            @Model.JobApplication.Job_Description
                        </p>

                    </div>
                    <div class="single_wrap">
                        <h4>Responsibility</h4>
                        <ul>

                            @foreach (TableResponsibility i in Model.Responsibility)
                            {
                                <li class="my-2">@i.Responsibility</li>
                                if (i.Description != null)
                                {
                                    @i.Description
                                }
                            }

                        </ul>
                    </div>
                    <div class="single_wrap">
                        <h4>Qualifications</h4>
                        <ul>
                            @foreach (TableQualification i in Model.Qualification)
                            {


                                <li class="my-2">@i.Qualification</li>
                                if (i.Description != null)
                                {
                                    @i.Description
                                }
                            }
                        </ul>
                    </div>
                    <div class="single_wrap">
                        <h4>Benefits</h4>
                        <ul>
                            @foreach (TableBenefit i in Model.Benefit)
                            {


                                <li class="my-2">@i.Benefit</li>
                                if (i.Description != null)
                                {
                                    @i.Description
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="apply_job_form white-bg">
                    <h4>Apply for the job</h4>
                    <p class="pb-1 small">Required Information *</p>
                    <form class="user" id="userDetails" method="post">
                        
                        <div class="row">

                            <div class="col-md-5">
                                <div class="input_field">
                                    <label id="validateFirstName"></label>
                                    <input type="text" class="userInput" id="firstName" placeholder="First Name *">
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="input_field">
                                    <label id="validateLastName"></label>
                                    <input type="text" class="userInput" id="lastName" placeholder="Last Name *">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="input_field">
                                    <input type="text" class="userInput" id="mi" maxlength="1" placeholder="MI">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input_field">
                                    <label id="validateEmail"></label>
                                    <input type="text" class="userInput" id="email" placeholder="Email *">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input_field">
                                    <label id="validateMobileNumber"></label>
                                    <input type="number" class="userInput" id="mobileNumber" placeholder="Mobile Number *">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="input_field">
                                    <input type="text" class="userInput" id="website" placeholder="Website/Portfolio link">
                                </div>
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <div class="input_field">
                                    <label id="validateProvince"></label>
                                    <select class="form-control userInput" name="Province" id="province" required></select>
                                </div>
                            </div>

                            <div class="col-md-6 mb-4">
                                <div class="input_field">
                                    <label id="validateCity"></label>
                                    <select class="form-control userInput" name="City" id="city" required></select>
                                </div>
                            </div>


                            <div class="col-md-6">

                                <div id="photoBorder" class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="upload" id="validatePhoto"></label>
                                        <button type="button" id="Photo" disabled>
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                    <div class="custom-file">
                                        
                                        <input type="file" class="custom-file-input userInput" id="PhotoInput" accept="image/*">
                                        <label class="custom-file-label" for="Photo" id="PhotoLabel">2x2 Photo *</label>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-6">

                                <div id="resumeBorder" class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="upload" id="validateResume"></label>
                                        <button type="button" id="Resume" disabled>
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        </button>
                                    </div>

                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input userInput" id="ResumeInput" accept=".pdf">
                                        <label class="custom-file-label" for="Resume" id="ResumeLabel">Upload CV *</label>
                                    </div>


                                </div>
                            </div>



                            <div class="col-md-12">
                                
                                <div id="videoBorder" class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="upload" id="validateVideo"></label>
                                        <button type="button" id="" disabled>
                                            <i class="fa fa-video" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    
                                    <div class="custom-file">
                                        <a data-toggle="modal" data-target="#videoModal" id="videoButton">  
                                            <label class="custom-file-label" id="introductionVideo" for="inputGroupFile03">Introduction Video *</label>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                            
                            <div class="col-md-12 mt-5">
                                <div class="submit_btn">
                                    <a id="submitButton" class="boxed-btn3 w-100">
                                        Submit
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>

                
                    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Introduction Video</h5>

                                    

                                </div>
                                
                                <div class="modal-body">
                                    
                                    
                                    <div id="container">
                                        <div id="inputArea">
                                        </div>
                                        <h5 id="question" class="display-4">Tell us about yourself</h5>
                                        <h1 id="time" class="display-4">1:00</h1>
                                    </div>

                                    <div class="text-center">
                                        <video id="gum" playsinline autoplay muted></video>
                                    </div>
                                    

                                    <div class="text-center">
                                        <button type="button" id="start" class="btn btn-primary button-video">Start Camera</button>
                                        <button type="button" id="record" class="btn btn-primary button-video" disabled>Start Recording</button>
                                        <button type="button" id="play" class="btn btn-primary button-video" data-toggle="modal" data-target="#previewModal" disabled>Preview Video</button>
                                        <button type="button" id="stop" class="btn btn-primary">Stop Camera</button>
                                    </div>
                                    </div>

                                <div class="modal-footer">
                                    
                                    <button class="btn btn-secondary" id="closeVideo" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Preview Introduction Video</h5>
                                </div>
                                <div class="modal-body"><video class="video-responsive" id="recorded" playsinline></video></div>
                                <div class="modal-footer">
                                    <button id="download" class="btn btn-success" data-dismiss="modal">Submit</button>
                                    <button id="stopVideo" class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Submitted</h5>
                                </div>
                                <div class="modal-body">
                                    
                                    <h5 class="text-center">Your details have been submitted.</h5>
                                    <svg class="animated-check" viewBox="0 0 24 24">
                                        
                                        <path d="M4.1 12.7L9 17.6 20.3 6.3" fill="none" />
                                        
                                    </svg>
                                    <p class="text-center">Confirm your email so we can process your details.</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summary_header">
                        <h3>Job Summary</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Published on: <span>@Model.JobApplication.Date_Published</span></li>
                            <li>Available until: <span>@Model.JobApplication.Date_End</span></li>
                            <li>Vacancy: <span>@Model.JobApplication.Vacancy Positions</span></li>
                            <li>Salary: <span>@Model.JobApplication.Salary</span></li>
                            <li>Location: <span>@Model.JobApplication.City, @Model.JobApplication.Province</span></li>
                            <li>Job Nature: <span> @Model.JobApplication.Job_Nature</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Photo.js"></script>
<script src="https://cdn.webrtc-experiment.com/RecordRTC.js"> </script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="~/js/video.js" asp-append-version="true" async></script>
<script src="~/js/city.js" asp-append-version="true" async></script>
<script src="~/js/cityFunction.js" asp-append-version="true" async></script>

