@{
    ViewData["Title"] = ViewBag.Candidates.Last_Name + ", " + ViewBag.Candidates.First_Name;
}

<div class="main-body">
    <div class="card shadow mb-4">
        <div class="card-header py-3 ">
            <div class="row">
                <div class="col pt-2 mb-3">
                    <h3 class="m-0 font-weight-bold text-primary">Candidate Profile</h3>
                </div>
                              <div class="col col-lg-2 text-right">
                                    <a asp-controller="JobListing" asp-action="Hired" asp-route-id="@ViewBag.Candidates.Job_Application_ID" class="btn btn-warning btn-icon-split btn-lg">
                                        <span class="icon text-white-50">
                                        <i class="bi bi-arrow-return-left"></i>
                                        </span>
                                        <span class="text">Back</span>
                                    </a>
                                </div>

             </div>


            <div class="row gutters-md ">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="~/CandidateUpload/Photos/@ViewBag.Candidates.Photo" alt="Admin" class="rounded-circle h-25 w-25">
                                <div class="mt-3">
                                    <h4>@ViewBag.Candidates.First_Name @ViewBag.Candidates.Last_Name</h4>
                                    <p class="text-secondary mb-1"></p>
                                    <p class="text-muted font-size-sm pb-4">Candidate ID: #@ViewBag.Candidates.Candidate_ID</p>
                                    <input id="candidateIDToSubmit" hidden value="@ViewBag.Candidates.Candidate_ID" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-2">
                        <div class="card-body  border-left-primary">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Matched Skills
                                    </div>
                                    <h4>

                                        @foreach (var skill in @ViewBag.MatchedSkills)
                                        {
                                                <span class="badge badge-pill badge-primary">@skill.Data</span>
                                        }

                                    </h4>


                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-check fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card mt-2">
                        <div class="card-body  border-left-secondary">
                            <div class="row no-gutters align-items-center">
                                <div class="col">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                       Other Skills
                                    </div>
                                    <h4>


                                        @foreach (var skill in @ViewBag.OtherSkills)
                                        {
                                                <span class="badge badge-pill badge-secondary">@skill.Data</span>
                                        }
                                    </h4>


                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-gear fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary text">
                                    @(ViewBag.Candidates.Last_Name + ", " + ViewBag.Candidates.First_Name + " " + ViewBag.Candidates.Middle_Initital + ".")
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Candidates.Email
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile Number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @ViewBag.Candidates.Mobile_Number
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Website</h6>
                                </div>

                                @if (ViewBag.Candidates.Website == "NA")
                                {
                                            <div class="col-sm-9 text-secondary">
                                           NA 
                                               </div>
                                }
                                else
                                {
                                         <div class="col-sm-9 text-secondary">
                                            <a href="@("https://" + ViewBag.Candidates.Website)">@ViewBag.Candidates.Website</a>
                                        </div>
                                }


                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @(ViewBag.Candidates.City + ", " + ViewBag.Candidates.Province)
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Resume</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <a data-toggle="modal" data-target="#resume" href="#">
                                        @(ViewBag.Candidates.Candidate_ID + ViewBag.Candidates.Last_Name + "_" + ViewBag.Candidates.First_Name + ".pdf")
                                    </a>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Introduction Video</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <a data-toggle="modal" data-target="#video" href="#" id="videoModalPlayer">
                                        @(ViewBag.Candidates.Candidate_ID + ViewBag.Candidates.Last_Name + "_" + ViewBag.Candidates.First_Name + ".webm")
                                    </a>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Assessment Score</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <a data-toggle="modal" data-target="#assessment" href="#" id="assessmentbtn">
                                        @(ViewBag.Exam + "/100")
                                    </a>
                                </div>
                            </div>
                            <hr>

                             <div class="row">
                                <div class="col-sm-3">
                                <h6 class="mb-0">Interview Score</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <a data-toggle="modal" data-target="#interview" href="#" id="interivewbtn">
                                        @(ViewBag.Interview + "/100")
                                    </a>
                                </div>
                            </div>
                            <hr>

                            <div class="row justify-content-end">

                                <div class="col col-lg-2 mr-2" >
                                    <a class="btn btn-danger btn-icon-split btn-lg " id="btnSubmit" asp-action="Hired" asp-route-id="@ViewBag.Candidates.Job_Application_ID" asp-route-removeCandidate="@ViewBag.Candidates.Candidate_ID" asp-controller="JobListing">
                                        <span class="icon text-white-50">
                                            <i class="bi-x-circle"></i>
                                        </span>
                                        <span class="text">Remove</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>







                                    <div class="modal fade" id="resume" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
                                            </div>
                                            <div class="modal-body">
                <iframe src="~/CandidateUpload/Resume/@(ViewBag.Candidates.Candidate_ID+ViewBag.Candidates.Last_Name+"_"+ViewBag.Candidates.First_Name+".pdf")" width="100%" height="700px">
                                                </iframe>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Video</h5>
                                            </div>
            <div class="modal-body justify-content-center">

                                            <video src="~/CandidateUpload/Video/@(ViewBag.Candidates.Candidate_ID+ViewBag.Candidates.Last_Name+"_"+ViewBag.Candidates.First_Name+".webm")" 
                                            id="videoPlayer" type="video/webm" controls>
                                            </video>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="close" class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



<div class="modal fade" id="assessment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Assessment Score</h5>
            </div>
            <div class="modal-body justify-content-center">

                <input class="form-control assessment my-5" id="assessmentInput" placeholder="Enter Score" type="number" min="0" max="100" />
            </div>
            <div class="modal-footer">
                <a id="assessmentSubmit" href="#" data-dismiss="modal" class="btn btn-success">Enter</a>
                <a id="close" class="btn btn-secondary" href="#" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="interview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Interview Score</h5>
            </div>
            <div class="modal-body justify-content-center">

                <input class="form-control qualification my-5" id="interviewInput" placeholder="Enter Score" type="number" />
            </div>
            <div class="modal-footer">
                <a id="interviewSubmit" href="#" data-dismiss="modal" class="btn btn-success">Enter</a>
                <a id="close" class="btn btn-secondary" href="#" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>


<script src="~/js/assessment.js"></script>
<script src="~/js/videoPlayer.js"></script>