@model IEnumerable<TableJobApplication>
@{
    ViewData["Title"] = "TableJobApplication";
}


<!-- DataTables Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="row">
            <div class="col pt-2">
                <h3 class="m-0 font-weight-bold text-primary">Job Application Table</h3>
            </div>

            <div class="col col-lg-2" align="right">
                <a asp-controller="TableJobApplication" asp-action="CreateJobApplication" class="btn btn-success btn-icon-split btn-lg">
                    <span class="icon text-white-50">
                        <i class="bi bi-plus-circle"></i>
                    </span>
                    <span class="text">Add</span>
                </a>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
                <thead>
                    <tr>
                        <th>Job Application ID</th>
                        <th>Job</th>
                        <th>Job Description</th>
                        <th>Icon</th>
                        <th>Date Published</th>
                        <th>Date End</th>
                        <th>Vacancy</th>
                        <th>Salary</th>
                        <th>Job Nature</th>
                        <th>Province</th>
                        <th>City</th>
                        <th>Is Open</th>


                        <th style="text-align:center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var obj in Model)
                    {
                        <tr>
                            <td>@obj.Job_Application_ID</td>
                            <td>@obj.Job</td>
                            <td>@obj.Job_Description</td>
                            <td>@obj.Icon</td>
                            <td>@obj.Date_Published</td>
                            <td>@obj.Date_End</td>
                            <td>@obj.Vacancy</td>
                            <td>@obj.Salary</td>
                            <td>@obj.Job_Nature</td>
                            <td>@obj.Province</td>
                            <td>@obj.City</td>
                            <td>@obj.Is_Open</td>

                            <td class="text-center">
                                <a asp-controller="TableJobApplication" asp-action="UpdateJobApplication" asp-route-id="@obj.Job_Application_ID"class="btn btn-info btn-block btn-sm">
                                    <i class="bi bi-pencil-square"></i>
                                    Update
                                </a>
                                <a data-toggle="modal" data-target="#deleteModal-@obj.Job_Application_ID" class="btn btn-danger btn-block btn-sm">
                                    <i class="bi bi-trash3"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        
                        <!-- Delete Modal-->
                        <div class="modal fade" id="deleteModal-@obj.Job_Application_ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">You will be deleting Job Application Number @obj.Job_Application_ID</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal" >Cancel</button>
                                        <a class="btn btn-danger" asp-controller="TableJobApplication" asp-action="DeleteJobApplication" asp-route-id="@obj.Job_Application_ID">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                   

                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page level plugins -->
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>

}